@import url('https://fonts.googleapis.com/css2?family=Passion+One&family=Poppins&display=swap');

*{
    margin: 0;
    padding: 0;
    border: 0;
}

body, html{
    background: darkgray;
    width: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header{
    background: black;
    color: white;
    text-align: center;
    padding: 50px;
}
header>h1{
    /* padding-top: 50px; */
    font-variant: small-caps;
    font-size: 500%;
    font-family:'Passion One', cursive;
}

header>p{
    margin: 10px;
    font-size: 140%;
}

header>p>a, footer>p>a{
    color: white;
    text-decoration: none;
    font-weight: bolder;
}

header>p>a:hover, footer>p>a:hover{
    text-decoration: underline;
    
    color: rgb(209, 153, 11);
}

section{
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
    
}

.normal{
    background: white;
}

.img{
    background: rgba(0, 0, 0, 0.568);
    color: white;
}

.img > pre{
    background: rgba(0, 0, 0, 0.205);
    width: 400px;
}
pre{
    white-space: pre-line;
    font-size: 110%;
    font-family: 'Poppins', sans-serif;
    /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
}

footer{
    font-size: 95%;
    text-align: center;
    color: white;
    padding: 10px;
    background: black;
}