*{
    margin: 0;
    border: 0;
    padding: 0;
}
body{
    background-color: #000000;
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 100px;
}
header{
    font-weight: bolder;
    text-align: center;
}

nav{
    color: lightgray;
    text-align: center;
    margin: auto;
    box-shadow: 0px 5px 0px rgb(27 27 27) ;
    border-radius: 2px;
}

li::before{
    content: ' â— ';
}
nav>ul{
    background-color: rgb(37, 37, 37);
    text-align: center;
    margin: auto;
    
}
nav>ul>li{
    display: inline-block;
    margin-right: 10px;
}

a, footer>a {
    color: lightgray;
    text-decoration:none;
}

a:hover{
    color: white;
    text-decoration: underline;
}

#trailer{
    text-align: center;
    width: 300;
    height: 300;
    margin: 45px auto;
}

#temp{
    background-color: rgb(37, 37, 37);;
    font-size: 1.5em;
    height: 75px;
    width: 150px;
    padding: auto;
    margin: 20px auto;
    text-align: center;
    box-shadow: 0px 5px 0px rgb(27 27 27);;
}

aside{
    background-color:rgb(37, 37, 37);
    color: white;
    margin: 50px auto;

    height:250px;
    padding: 10px;
    border-radius: 10px;
}

#imgm{
    float: left;
    margin-left: 5px;
    margin-right: 15px;
}

#para{
    font-size: 1.5em;
    padding: 50px 50px;
    margin: auto;
}

footer{
    margin: auto;
    padding: 05px;
    background-color: rgb(37, 37, 37);;
    text-align: center;
    width: 200px;
    box-shadow: 0px 5px 0px rgb(27 27 27);
    border-radius: 2px
}
 


#sinopse{
    padding: 10px;
    margin: auto;
}

#sinopse>p{
    font-size: 1.1em;
}
